{% extends 'base.html.twig' %}

{% block title %}Modif. Profil {% endblock %}

{% block body %}
<div class="container">
    <div class="w-75 mx-auto">
        <h1 class="mt-3">Mon profil :</h1>
        {{form(form)}}
    </div>
</div>
{% endblock %}